<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tair2.2_monitor</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.tair_2_2.statmonitor.TairStatInfoReaderDeamon</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>dateservernodeinfo2json</display-name>
    <servlet-name>dateservernodeinfo2json</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.dateservernodeinfo2json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dateservernodeinfo2json</servlet-name>
    <url-pattern>/dateservernodeinfo2json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>areainfo2json</display-name>
    <servlet-name>areainfo2json</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.areainfo2json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>areainfo2json</servlet-name>
    <url-pattern>/areainfo2json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nodestatistics</display-name>
    <servlet-name>nodestatistics</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.nodestatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nodestatistics</servlet-name>
    <url-pattern>/nodestatistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectedareainfo</display-name>
    <servlet-name>selectedareainfo</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.selectedareainfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectedareainfo</servlet-name>
    <url-pattern>/selectedareainfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delay2json</display-name>
    <servlet-name>delay2json</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.delay2json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delay2json</servlet-name>
    <url-pattern>/delay2json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bucketsdistrbution</display-name>
    <servlet-name>bucketsdistrbution</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.bucketsdistrbution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bucketsdistrbution</servlet-name>
    <url-pattern>/bucketsdistrbution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getrequest</display-name>
    <servlet-name>getrequest</servlet-name>
    <servlet-class>com.tair_2_2.statmonitor.servlet.getrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getrequest</servlet-name>
    <url-pattern>/getrequest</url-pattern>
  </servlet-mapping>
</web-app>